@page
@using Cloud.Models
@using System.IO
@using Microsoft.Extensions.Hosting
@using System.Diagnostics
@using System.Text.Encodings.Web
@model IndexModel
@inject ApplicationDbContext db;
@inject IHostEnvironment _env;
@{
    var user = await User.GetUser();
    ViewData["Title"] = "Dashboard";

}

<style>
    .ficon {
        display: flex;
        align-items: center
    }
</style>
<h3 class="mt-3">Files</h3>
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#fileUploadModal">
    Upload
</button>
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#newFolderModal">
    New Folder
</button>
<div class="progress mt-2 mb-2" style="height: 2vh;display: none" id="progress1">
    <div class="progress-bar" style="min-width: 0%;display: none" id="uprogress">

    </div>
</div>
<div id="files_table"></div>
<div class="modal fade" id="fileUploadModal" tabindex="-1" aria-labelledby="fileUploadModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fileUploadModalLabel">Upload</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="uppy-dashboard">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newFolderModal" tabindex="-1" aria-labelledby="newFolderModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-page-handler="CreateFolder">
                <div class="modal-header">
                    <h5 class="modal-title" id="newFolderModalLabel">Create new Folder</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="fileName">Foldername</label>
                    <input type="text" name="foldername" id="fileName" class="form-control" />
                    <input type="hidden" name="Path" value="@Model.Path" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>

        </div>
    </div>
</div>
@section Scripts
{
    <link href="https://releases.transloadit.com/uppy/v1.29.1/uppy.min.css" rel="stylesheet">

    <script src="https://releases.transloadit.com/uppy/v1.29.1/uppy.min.js"></script>

    <script>
        window.history.replaceState(null, null, window.location.pathname);
        var uppy = Uppy.Core()
            .use(Uppy.Dashboard, {
                inline: true,
                target: '#uppy-dashboard',
                hideAfterFinish: true,
                proudlyDisplayPoweredByUppy: false,
                showRemoveButtonAfterComplete: false,
                showProgressDetails: true,
                showLinkToFileUploadResult: false,
            })
            .use(Uppy.Tus, {endpoint: '/upload'})
        uppy.use(Uppy.ProgressBar, {
            target: '.progres-bar-uppy',
            fixed: false,
        })
        uppy.on('complete',
            (file, result) => {
                $("#fileUploadModal").modal("hide")
                loadFiles();
                uppy.reset();
            });
        uppy.on('file-added', (file) =>{
            console.log(file);
            uppy.setFileMeta(file.id, {
                uid: '@user.Id',
                path: '@Model.Path'
            });
        });
        function loadFiles() {
            $.get("/Index", { handler: "FilesPartial", path: "@Model.Path" }).done(function(data) {
                $('#files_table').html(data);
            });
        }

        loadFiles();
    </script>
}
