@page
@model Cloud.Pages.UserSettingsModel
@{
    var user = await User.GetUser();
    ViewData["Title"] = "Settings";
}
<div class="card mt-3 text-white" style="background: #59606D">
    <div class="card-header">
        <h4>Set Password</h4>
    </div>
    <div class="card-body text-white">
        <form method="post" asp-page-handler="SetPassword">
            <div class="form-group">
                <label for="oldPassword">Current password</label>
                <input type="password" id="oldPassword" class="form-control" asp-for="SetPasswordData.OldPassword" />

                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" class="form-control" asp-for="SetPasswordData.NewPassword" />

                <label for="newPasswordRepeat">Repeat Password</label>
                <input type="password" id="newPasswordRepeat" class="form-control" asp-for="SetPasswordData.NewPasswordRepeat" />
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-3">Save</button>
        </form>
    </div>
</div>
<div class="card mt-3 text-white" style="background: #59606D">
    <div class="card-header">
        <h4>Set Password</h4>
    </div>
    <div class="card-body text-white">
        <form method="post" asp-page-handler="SetSettings">
            <div class="form-group">
                <label for="showFileExtentions">Show known File Extensions</label>
                @if (user.ShowKnownFileExtensions)
                {
                    <input type="checkbox" id="showFileExtentions" class="form-check-input" asp-for="SettingsData.ShowFileExtensions" checked />

                }
                else
                {
                    <input type="checkbox" id="showFileExtentions" class="form-check-input" asp-for="SettingsData.ShowFileExtensions" />

                }

            </div>
            <button type="submit" class="btn btn-primary w-100 mt-3">Save</button>
        </form>
    </div>
</div>
<div class="card mt-3 text-white" style="background: #59606D">
    <div class="card-header">
        <h4>2 Factor Authentication</h4>
    </div>
    <div class="card-body text-white">

        <div class="form-group">
            <p>Enable/Disable 2 Factor Authentication (mobile Apps) to protect your account.</p>
            @if (!user.TotpActive)
            {
                <form method="post" asp-page-handler="ActivateTotp">
                    <button type="submit" class="btn btn-success w-100 mt-1">Enable</button>
                </form>
            }
            else
            {
                <form method="post" asp-page-handler="DisableTotp">
                    <button type="submit" class="btn btn-danger w-100 mt-1">Disable</button>
                </form>
            }
            
            
        </div>
    </div>
</div>
@section Scripts
{
    <script>

        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('TotpSecret')) {
            const img = '<img src="@String.Format("data:image/png;base64,{0}", ViewData["qr"])" height="300" width="300"/>';
            Swal.fire(
                '2FA activated',
                img + "<br>Secret:<input type='text' readonly class='form-control text-center' value='" + urlParams.get('TotpSecret') + "'>",
                'success'
            );

        }
        window.history.replaceState(null, null, window.location.pathname);


    </script>
}
